@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Pompiere&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Rubik+Dirt&display=swap');
:root{
    --active : #e99820;
    --grey: #666565;
}


html{
    scroll-behavior: smooth;
    /* background-image: url(images/back-1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    background-color: black;
    overflow: clip;
}

body{
    height: 98vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

#fade-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 0.8s ease; /* Default fade-in on load */
  }
  
  /* Fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Fade-out animation */
  .fade-out {
    animation: fadeOut 0.8s ease;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }


nav{
    width: 100%;
    height: 50px;
    align-content: center;
    border-radius: 12px;
    margin:20px;
    z-index: 5;
}

ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    
}

li{
    list-style: none;
    margin: 0;
    padding-left: 50px;
}

a{
    color: var(--grey);
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    transition: transform 0.4s;
    position: relative;
    z-index: 3;
}



li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0%;
    left: 0;
    height: 25px;
    background-color: var(--active);
    transition: all .5s;
    z-index: -1;
    transform: skewY(-10deg);
}

li a:hover{
    color: black;
    font-weight: bold;
}

li a:hover::before{
    width: 100%;
    z-index: -1;
}




li:nth-of-type(3){
    flex-grow: 1;
}

li:nth-of-type(4){
    padding-right: 70px;
}


.container{
    position: relative;
}

.content-1{
    width: fit-content;
    height: fit-content;
    align-content: center;
    text-align: center;
    color: white;
    margin: 100px 130px;
    columns: 1;
    padding: 20px;
}

h1 span{
    margin: 0;
    padding-left: 0px;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: inline-block;
    height: min-content;
    position: absolute;
    top: -10px;
    left: -10px;
}

h1 span::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 160px;
    background-color: #e99820;
    left: -30px;
    top: 0;
    border-radius: 3px;
}

h1{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    display: inline-block;
    position: relative;
    top: 38px;
    
}

.content-1 > p{
    text-transform: uppercase;
    text-align:end;
    letter-spacing: 2px; 
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    word-spacing: 5px;

}

.button{
    display: flex;
    justify-content: space-around ;
}


button{
    margin-top: 50px;
    border: 2px solid var(--grey);
    border-radius: 25px;
    padding: 5px 50px;
    margin-left: 10px;
    color: var(--grey); 
    background: transparent; 
    transition: transform 1s;  
    position: relative;
    overflow: hidden;
}

a span{
    position: relative;
    z-index: 2;
    color: var(--grey);
}
  
button::before{
    position: absolute;
    content: "";
    top: 0px;
    left: -105px;
    width: 100px;
    height: 35px;
    background: var(--active);
    transition: all .9s;
    transform: skew(30deg);
}

button:after{
    position: absolute;
    content: "";
    top: 0px;
    right: -110px;
    width: 100px;
    height: 35px;
    background: var(--grey);
    transition: all .9s;
    transform: skew(30deg);
}
  
button:hover{
    color: var(--active);
    border-color: var(--active);
    transition: 0.4s ease-in-out;
    & span{
        color: black;
        font-weight: bold;
        transform: scale(1.05);
        transition: .7s;
        transition-delay: 0.2s;
    }
}
  
button:hover:after{
    right: -10px;
}

button:hover:before{
    left: -10px;
}



i{
    color: white;
    transition: transform 0.3s;
    margin: 10px;
    width: fit-content;
    position: relative;
    font-size: 1.5rem;
}

.icons{
    height: auto;
    margin: auto 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    overflow: hidden;
    position: fixed;
    bottom: 40px; 
}


i:hover{
    color: #e99820;
    transform: scale(1.5);
}

.about{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 50px;
    margin: 5% 50px;
    height: fit-content;
}
.intro{
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 200;
    color: white;
    letter-spacing: normal;
    text-align: left;
    text-indent: 50px;
    word-spacing: 5px;
}


.left h1{
    font-size: 3.5em;
    color: var(--active);
}

hr{
    margin: 40px 0 10px 0;
    width: 190px;
}

.mail{
    font-family: "Rubik Dirt", system-ui;
    color: var(--grey);
    text-transform: lowercase;
    z-index: 1;
}

.mail::before{
    content: "";
    background-color: var(--active);
    height: 30px;
    position: absolute;
    width: 0;
    left: -10px;
    z-index: -1;
    transition: all 1s ease-in-out;
    
}

.mail:hover{
    font-family: "Rubik Dirt", system-ui;
    color: black;
    font-weight: 400;
    transition: all .2s ease-in-out;
}

.mail:hover::before{
    transition: all .5s;
    width: 110%;
    z-index: -1;
}

.outer{

    display: flex;
    align-items: center;
    justify-content: center;
}

.border{
    border: 4px solid black;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 160px;
    margin-left: -20px;
}


img{
    position: fixed;
    top: 30px;
    filter: drop-shadow(-9px 0px 0px var(--active));
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    position: static;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 350px;
    height: fit-content;
    margin: 50px;
    backdrop-filter: blur(10px);
    border: 2px solid var(--active);
    padding: 50px;
    border-radius: 25px;
}

label{
    color: white;
    font-family: "lato";
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 40px;
}

input{
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    font-family: "lato";
    font-weight: 600;
    margin-bottom: 40px;
    padding:10px;
}

input::placeholder{
    text-transform: capitalize;
    color: #66656577;
}

input:focus, input:active{
    border: none;
    background-color: rgba(112, 112, 112, 0.363);
    
}

#name{
    text-transform: uppercase;
}

#contact{
    font-size: 2rem;
    top: 0;
    margin-bottom: 40px;
    text-align: center;
    color: var(--grey);
}

.form > button{
    margin: 0;
}

/* @media only screen and (max-width:390px){
    *{
        margin: 0;
        padding: 0;
    }

    body{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 390px;
    }

    ul{
        display: flex;
        justify-content: left;
        gap: 50px;
    }
    
    li:nth-of-type(3){
        flex-grow: 0;
    }


    li{
        padding-left: 0;
    }

    .container{
        position: static;
        height: fit-content;
        
    }

    .content-1 > h1{
        font-size: 5rem;
    }

    .content-1{
        margin-left: 40px;
        
    }

    .content-1 > p{
        margin-top: 25px;
    }

    h1 span::before{
        content: "";
        position: absolute;
        width: 10px;
        height: 100px;
        background-color: #e99820;
        left: -30px;
        top: 0;
        border-radius: 3px;
    }
    .icons{
        
        margin: 0 0;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        overflow: hidden;

        bottom: 40px; 
    }
} */

#preloader{
    width: 100%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloader > p{
    font-family: "lato";
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.5rem;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#preloader.hidden {
    opacity: 0;
    pointer-events: none; /* Prevent interaction after fading */
  }

.spinner{
    border: 6px solid var(--active);
    border-top: 6px solid var(--grey);
    width: 50px;
    height: 50px;
    position: absolute;
    margin-bottom: 120px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* .spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */


@media only screen and (max-width:500px) {
    
    
    body{
        background-image: url(./images/back-1.jpg);
        display: flex;
        overflow: hidden;
        flex-direction: column;
        width: 496px;
        height: 100lvh;
    }
    
    .container, #content{
        margin: 0;
        padding: 0;
        width: 496px;
        height: 913px;
    }

    .content-1 h1{
        font-size: 6rem;
        margin-bottom: 10px ;
    }

    .content-1 {
        margin-left: 40px;
    }

    h1 span::before{
        content: "";
        position: absolute;
        width: 10px;
        height: 135px;
        background-color: #e99820;
        left: -30px;
        top: 0;
        border-radius: 3px;
    }

   .about{
    display: flex;
    flex-direction: column-reverse;
    
   }

   .outer{
    position: relative;
    top: -50px;
    height: 320px;
   }

   .outer img{
    position: relative;
    width: 200px;
    height: 267px;
   }

   .outer .border{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 117px;

   }

   

    


}