@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&family=Pompiere&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --active : #e99820;
    --grey: #666565;
}


html{
    scroll-behavior: smooth;
    /* background-image: url(images/back-1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    overflow-y: auto;
    background-color: black;
}

body{
    height: 98vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover
}


nav{
    width: 100%;
    height: 50px;
    align-content: center;
    border-radius: 12px;
    margin:20px;
    z-index: 5;
}

ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    
}

li{
    list-style: none;
    margin: 0;
    padding-left: 50px;
}

a{
    color: var(--grey);
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    transition: transform 0.4s;
    position: relative;
}

/* li a:hover{
    color: var(--active);
    
} */

li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0%;
    left: 0;
    height: 25px;
    background-color: var(--active);
    transition: all .5s;
    z-index: -1;
    transform: skewY(-10deg);
}

li a:hover::before{
    width: 100%;
}

li a:hover{
    color: black;
    font-weight: bold;
}



li:nth-of-type(3){
    flex-grow: 1;
}

li:nth-of-type(4){
    padding-right: 70px;
}

.container{
    color: white;
    text-transform: capitalize;
    margin-left: 40px;
    font-family: "lato";
    font-weight: 400;
}

h1{
    margin-bottom: 0;
    text-transform: uppercase;
    color: var(--active);
    font-size: 4rem;
}

header > p{
    margin-top: 0;
    margin-bottom: 40px;
}

.section{
    position: relative;
}

h2::before{
    content: "";
    width: 4px;
    height: 25px;
    background-color: #e99820;
    left: -10px;
    top: 3px;
    position: absolute;
    
}

.section > ul{
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

li{
    text-transform: uppercase;
}

span{
    padding-left: 10px;
}

.section > p{
    text-indent: 50px;
    line-height: 25px;
    text-transform: none;
}

.projects > li{
    text-transform: none;
}

.footer{
    background-color: var(--active);
    width: 100%;
    text-align: center;
    color: black;
    font-weight: 800;
    text-transform: none;
    margin-top: 100px;
}
